@import "vars"
@import "bootstrap"

.callout
  @media (min-width: $screen-sm)
    display: flex
    margin-top: 85px

.callout-text
  font-size: 20px
  font-family: $font-family-subheadings
  color: $brand-primary
  margin: 0 0 25px 0

  @media (min-width: $screen-sm) // on desktop
    border-top:     5px solid $brand-primary
    border-bottom:  5px solid $brand-primary
    margin-bottom: 0
    padding: 0
    display: flex
    align-items: center

.section-divider
  width: 200px
  margin: 100px auto
  outline: none
  border: none
  height: 5px
  background: $brand-primary

.section-title
  text-align: center
  color: $brand-primary
  margin-bottom: 35px

footer
  margin-top: 50px

.featured-game
  margin-bottom: 30px
  @media (min-width: $screen-sm)
    display: flex
    max-height: 300px

  > .col-sm-6
    margin: 0
    padding: 0
    height: 275px

  .featured-game-description
    padding: 15px
    background: #353535
    color: #f8f8f8

    h3
      color: $brand-primary
      line-height: 1.1


.blog-footer
  padding: 50px
  background: $navbar-default-bg

.post-header
  text-align: center
  padding: 50px
  height: 500px
  background-size: cover
  background-position: center center
  color: #f8f8f8

  h1
    margin-bottom: 50px

  .game-link
    padding: 15px 30px
    color: $brand-primary
    background: $gray-lighter
    font-family: $subheadings-font-family
    font-size: 22px
    border-radius: 5px

.game-content
  background: $gray-lighter
  padding: 50px
  margin: -250px 15px 0 15px
  border-radius: 10px

  @media (min-width: $screen-sm)
    margin: -250px auto 0 auto

.game-description
  margin-bottom: 50px

.author
  display: flex
  align-items: center
  justify-content: center
  margin-bottom: 50px
